# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\rossm\OneDrive - GMIT\Year 4\Final Year Project\Computer Vision and App System for Tracking and Displaying Areas of Interest on Expo Displays\Gaze Following\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
